<div class='col-lg-10'>
		<input type='text' id='appendedInput'  ng-model='filterApp' placeholder='Search string'>
		<span class='add-on'><i class='icon-filter'></i></span>
</div><div class=''>
	<a class='btn btn-success' href='#/CreateOne2'>Create One2</a>
	<div class='row' ng-repeat='One2 in One2s | filter:filterApp'>
	<div class='col-lg-10'> {{One2.a12}} </br></div>
	<div class='col-lg-2'>
	<button class='btn btn-default' ng-click='Delete(One2.ID)'><span class='glyphicon glyphicon-trash'></span></button>
	<a class='btn btn-default' href='#/UpdateOne2/{{One2.ID}}'><span class='glyphicon glyphicon-refresh'></span></a>
	</div></div></div>